<!-- <h2>Oceni proizvod</h2>
<div class="rating">
  <div class="stars">
    <input
      type="radio"
      id="star1"
      name="rating"
      value="1"
      (click)="setRating(1)"
    />
    <label for="star1"></label>
    <input
      type="radio"
      id="star2"
      name="rating"
      value="2"
      (click)="setRating(2)"
    />
    <label for="star2"></label>
    <input
      type="radio"
      id="star3"
      name="rating"
      value="3"
      (click)="setRating(3)"
    />
    <label for="star3"></label>
    <input
      type="radio"
      id="star4"
      name="rating"
      value="4"
      (click)="setRating(4)"
    />
    <label for="star4"></label>
    <input
      type="radio"
      id="star5"
      name="rating"
      value="5"
      (click)="setRating(5)"
    />
    <label for="star5"></label>
  </div>
  <button (click)="rateProduct()">Oceni</button>
</div> -->

<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<h2 mat-dialog-title>Ocenite Proizvod</h2>
<form action="">
  <div class="stars">
    <input
      class="star star-5"
      id="star-5"
      type="radio"
      name="star"
      (click)="setRating(5)"
    />

    <label class="star star-5" for="star-5"></label>

    <input
      class="star star-4"
      id="star-4"
      type="radio"
      name="star"
      (click)="setRating(4)"
    />

    <label class="star star-4" for="star-4"></label>

    <input
      class="star star-3"
      id="star-3"
      type="radio"
      name="star"
      (click)="setRating(3)"
    />

    <label class="star star-3" for="star-3"></label>

    <input
      class="star star-2"
      id="star-2"
      type="radio"
      name="star"
      (click)="setRating(2)"
    />

    <label class="star star-2" for="star-2"></label>

    <input
      class="star star-1"
      id="star-1"
      type="radio"
      name="star"
      (click)="setRating(1)"
    />

    <label class="star star-1" for="star-1"></label>
  </div>
  <mat-dialog-actions>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      (click)="rateProduct()"
    >
      Oceni
    </button>
  </mat-dialog-actions>
</form>
