<!-- <div *ngFor="let product of products">
  <a [routerLink]="['/products', product?._id]">
    <h3>{{ product.name }}</h3>
  </a>
  <p>{{ product.description }}</p>
  <p>Price: {{ product.price }}</p>
</div> -->

<section
  class="container flex-container"
  [ngClass]="{ 'slide-in-from-right': animate }"
>
  <div *ngFor="let product of products">
    <div class="cart card-shadow">
      <div class="cart-banner">
        <span class="article">TOP ARTIKAL</span>
        <img class="add" src="../../../assets/images/bookmarks-outline.svg" />
      </div>
      <a [routerLink]="['/products', product?._id]">
        <div class="cart-header">
          <img
            src="../../../assets/images/product/{{ product.img }}"
            alt="{{ product.name }}"
          />
          <h2>{{ product.name }}</h2>
        </div>
        <div class="cart-body">
          <ul>
            <li>{{ product.category }}</li>
          </ul>
          <p>
            <b>{{ product.price | number : "1.2-2" }}</b> RSD
          </p>
        </div>
      </a>

      <!-- <div class="cart-footer">
        <button class="btn-cart" (click)="addToCart(product)">
          <a>Add to Cart</a>
        </button>
      </div> -->
    </div>
  </div>
</section>
