<div class="container">
  <div class="login-page">
    <mat-card class="mat-evelvation-z12">
      <mat-card-title class="title-login">SignIn/SignUp</mat-card-title>
      <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
        <mat-tab label="Sign In">
          <mat-card-content>
            <app-login></app-login>
          </mat-card-content>
        </mat-tab>
        <mat-tab label="Sign Up">
          <mat-card-content>
            <app-signup></app-signup>
          </mat-card-content>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
</div>
