/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

:root {
  --primary-color: #198754;
  --color-btn: #198754;
  --color-btn-hover: #3bac77;
}
html,
body {
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
}

body {
  margin: 0; /*font-family: Roboto, "Helvetica Neue", sans-serif;*/
  line-height: 1;
  font-weight: 400;
  font-size: 1.6rem;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
}

mat-form-field,
mat-checkbox {
  width: 100%;
  display: block;
  margin: auto;
}
a {
  color: black;
  text-decoration: none;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
mat-icon {
  color: black;
}

.light-theme {
  background-color: #ffffff;
  color: #333333;
  --mat-toolbar-container-background-color: #309975;
  --mat-toolbar-container-text-color: #eeeeee;
}

.dark-theme {
  background-color: #333333;
  color: #ffffff;

  .btn {
    background-color: #ffffff;
    color: #333333;
  }
  .header-news p {
    color: #333333;
  }
  mat-toolbar {
    background-color: #333333;
  }
  mat-icon {
    color: black;
  }
  mat-card-title {
    color: black;
  }
  .content {
    color: black;
  }
  .footer {
    background-color: #202020 !important;
  }
  .card-shadow {
    box-shadow: 0 4px 10px rgba(48, 153, 117, 0.2),
      0 8px 16px rgba(48, 153, 117, 0.3) !important;
  }
  .logo {
    color: #fff !important;
  }
}
button {
  background-color: var(--primary-color);
}
.mat-mdc-raised-button.mat-primary {
  --mdc-protected-button-container-color: #3ab783;
}
.btnHome {
  min-width: 5rem;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.8rem 3.2rem;
  border-radius: 9px;
  border: none;
  outline: none;
  color: white;
  background-color: var(--color-btn);
}
.btnHome:hover {
  color: white;
  background-color: var(--color-btn-hover);
}
/* .btn {
  min-width: 5rem;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.8rem 3.2rem;
  border-radius: 9px;
  border: none;
  outline: none;
  color: white;
  background-color: var(--color-btn);
}
.btn:hover {
  color: white;
  background-color: var(--color-btn-hover);
} */

.height {
  /* height: 100vh; */
  /* height: calc(100vh - 143px); */
  height: calc(100vh - 201px);
}

.margin-top {
  margin: 5rem;
}
