<!-- <div *ngIf="items.length > 0; else emptyCart">
  <div *ngFor="let item of items">
    <p>{{ item.name }} - ${{ item.price }} - {{ item.quantity }}</p>
  </div>
  <button (click)="clearCart()">Clear Cart</button>
</div>
<ng-template #emptyCart>
  <p>Your cart is empty</p>
</ng-template> -->

<div class="container padding-top">
  <h2>Cart Page</h2>
  <hr />
  <div class="content">
    <ng-template #emptyCart>
      <div class="isEmpty">
        <p>Cart is empty!!</p>
        <a routerLink="/products">Go and select your order</a>
      </div>
    </ng-template>
  </div>
  <div *ngIf="items && items.length > 0; else emptyCart" class="content">
    <ul>
      <li *ngFor="let cartItem of items">
        <div>
          <img
            src="../../../assets/images/product/{{ cartItem.img }}"
            [alt]="cartItem.name"
          />
        </div>
        <div>
          <a routerLink="/products/{{ cartItem._id }}">
            {{ cartItem.name }}
          </a>
        </div>
        <div>
          <select
            #quantitySelect
            [value]="cartItem.quantity"
            (change)="changeQuantity(cartItem, quantitySelect.value)"
          >
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div>
          {{ cartItem.price | currency : "RSD " : "symbol-narrow" : "1.2-2" }}
        </div>

        <div>
          <button class="remove-button" (click)="removeFromCart(cartItem)">
            Remove
          </button>
        </div>
      </li>
    </ul>
    <div class="checkout">
      <div>
        <div class="product-count">
          {{ calculateTotalCount() }}
        </div>
        <br />
        <div class="total-price">
          {{
            calculateTotalCost() | currency : "RSD " : "symbol-narrow" : "1.2-2"
          }}
        </div>
      </div>

      <a routerLink="/order-checkout">Proceed to Checkout</a>
    </div>
  </div>
</div>
